@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */
header {
    font-family: "Merriweather", serif;
    background-color: #5722CD;
}

body {
    font-family: "Roboto", sans-serif;
}
/*kleurcodes*/
Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C; /*(voor standaard tekst);*/
Lichtpaars #F2F0FF; /*(voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
Lichtgrijs #F3F6F9; /*(voor de achtergrond van de projecten)*/
Grijs #7A7A7A; /*(voor de service-tegel tekst);*/

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */



.outer-container-header {
    display: flex;
    flex-direction: column;
}
.inner-container-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    align-items: space-between;
    gap: 50px;
    color: white;


}
.inner-container-intro {
    display: flex;
    flex-direction: column;
    border: 5px dashed white;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: white;
}
.button {
    text-transform: uppercase;
}
.squiggle-line {

}
/* --------------- 4.2 Introduction ------------------- */
.company-profile {

}

/* ------------------------------- 5. Media Queries -------------------------------- */